
input{
    width: 20rem;
    height: 50px;
    border-radius: 6px;
    font-size: 20px;
}

.input1{


}

.btn{
    height: 50px;
    width: 90px;
}

.div{
    display: none;
    height: 300px;
    width: 400px;
    background-color: #fff;
    box-shadow: 1px 1px 3px black;
}

.divDisplayblock{
    display: block;
 
}
h5{
    text-align: center;
}