*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration:none;
    box-sizing: border-box;
}

body{
    position: relative;
}

.main-header{
    width: 95%;
    border:2px solid lightgrey;
    border-radius: 10px;
    margin:  25px;
    
}

.header{
    display: flex;
    flex-wrap: wrap;
    
}
.header-group1{
    display: flex;
    flex: 1;
}
.header-group1{
    margin-top: 40px;
}

.header-gender{
    padding-top: 68px;
    padding-left: 10px;
}

.header-gender a{
    color: black;
}

.logo img{
    width: 80px;
    height: 90px;
}

.header-group2{
    display: flex;
    flex: 1;
    margin-top: 70px;
}

.header-socialmedia{
    display: flex;
    padding-top: 15px;
}

.header-socialmedia li a img{
    width: 30px;
    margin: 10px;
}

.header-group3{
    flex: end;
    margin-top: 95px;
    
}

.heaader-contact{
    display: flex;
    padding: 10px;
}

.heaader-contact li a{
    color: black;
}

.phone{
    padding-right: 5px !important;
}

.share{
    padding-right: 7px;
}

.register-div{
    display: flex;
    justify-content: center;
    border: 1px solid green;
    margin-left: 65%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    
    display: none;
    position: absolute;
    
    
    
}

.btn{
    
    background-color: blue;
    width: 100px;
    border:none;
    color:#000000;
    text-align: center;
}

.div{
    display: flex;
    justify-content: center;
  
}


input{
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    height: 20px;
}

.register{
    
    
    padding: 10px;

    
}

.main-menu{
    width: 95%;
    border:2px solid lightgrey;
    border-radius: 10px;
    margin: 0 25px;
    height: 40rem;
    
}



.search-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search{
    position: relative; 
}

#search-bar{
    width: 20rem;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    
}

.search-font{
    position: absolute;
    bottom:1rem;
    margin-left: 18rem;

}

.search-font .icon{
    color: black;
}

.slider{
    display: flex;
    flex-wrap: wrap-reverse;;
    justify-content: center;
    margin-top: 15px;
    // border: 1px solid black;
    
    
}

.slider1{
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px;
    // margin-right: 7rem;

.img-shoediv{
    background-image: url(./image/sneaker6.jpg);
    background-size: cover;
    height: 150px;width: 170px;
    animation: shoe 9s infinite;transition: ease-in-out;
    box-shadow: 3px 3px 5px 6px black;

    border-radius: 10px;
    

}

@keyframes shoe{
    0% {
        background-image: url(./image/sneakers.jpg);
        transform: scale(0.9);
    }

    40%{
        background-image: url(./image/sneakers5.jpg);
        transform: scale(1);
        
    }

    60%{
        background-image: url(./image/sneakers.jpg);
        transform: scale(0.9);
    }

    80%{
        // border-image: url(./image/sneakers5.jpg);
    }
}

.shoe-name{
    border: 1px solid black;
    border-radius: 3px;
    // width: 12.5rem;
    padding: 10px;
    height: 30px;
    text-align: center;
    // color: white;    
    font-weight: bold;
    // border:none;
    // padding-top: 11.2rem;
    font-variant: small-caps;
    font-family: fantasy;
    text-shadow: 3px 3px 5px;
}




}



.img-bagdiv{
    background-image: url(./image/sneaker6.jpg);
    background-size: cover;
    height: 150px;width: 170px;
    animation: bag 9s infinite;transition: ease-in-out;
    box-shadow: 3px 3px 5px 6px black;

    border-radius: 10px;
    

}

@keyframes bag{
    0% {
        background-image: url(./image/bag.jpg);
        transform: scale(0.9);
    }

    40%{
        background-image: url(./image/bag1.jpg);
        transform: scale(1);
        
    }

    60%{
        background-image: url(./image/bag3.jpg);
        transform: scale(0.9);
    }

    80%{
        // border-image: url(./image/sneakers5.jpg);
    }
}

.bag-name{
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    color:black;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    // padding-top: 11.5rem;
    // border:none;
    font-variant: small-caps;
    font-family: fantasy;
    text-shadow: 3px 3px 5px;
}



.menshoe-name{
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    color:black;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    // padding-top: 11.5rem;
    // border:none;
    font-variant: small-caps;
    font-family: fantasy;
    text-shadow: 3px 3px 5px;
}

.img-menshoediv{
    background-image: url(./image/menshoe.jpg);
    background-size: cover;
    width: 170px;
    height: 150px;
    animation: menshoe infinite 8s ;
    border-radius: 9px;
    box-shadow: 3px 3px 5px 6px black;
    
}



@keyframes menshoe{
    0% {
        background-image: url(./image/menshoe.jpg);
        transform: scale(0.9);
    }

    40%{
        background-image: url(./image/mensshoes.jpg);
        transform: scale(1);
        
    }

    60%{
        background-image: url(./image/menshoe.jpg);
        transform: scale(0.9);
    }

    80%{
        // border-image: url(./image/sneakers5.jpg);
    }
}

.img-boxers{
    width: 12rem;
    border-radius: 20px;
}