*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration:none;
    box-sizing: border-box;
}

body{
    position: relative;
}

.main-header{
    width: 90%;
    border:2px solid lightgrey;
    border-radius: 10px;
    margin: 50px;
    
}

.header{
    display: flex;
    flex-wrap: wrap;
    
}
.header-group1{
    display: flex;
    flex: 1;
}
.header-group1{
    margin-top: 40px;
}

.header-gender{
    padding-top: 68px;
    padding-left: 10px;
}

.header-gender a{
    color: black;
}

.logo img{
    width: 80px;
    height: 90px;
}

.header-group2{
    display: flex;
    flex: 1;
    margin-top: 70px;
}

.header-socialmedia{
    display: flex;
    padding-top: 15px;
}

.header-socialmedia li a img{
    width: 30px;
    margin: 10px;
}

.header-group3{
    flex: end;
    margin-top: 95px;
    
}

.heaader-contact{
    display: flex;
    padding: 10px;
}

.heaader-contact li a{
    color: black;
}

.phone{
    padding-right: 5px !important;
}

.share{
    padding-right: 7px;
}

.register-div{
    display: flex;
    justify-content: center;
    border: 1px solid green;
    margin-left: 65%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    
    display: none;
    position: absolute;
    
    
    
}

.btn{
    
    background-color: blue;
    width: 100px;
    border:none;
    color:#000000;
    text-align: center;
}

.div{
    display: flex;
    justify-content: center;
  
}


input{
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    height: 20px;
}

.register{
    
    
    padding: 10px;

    
}

.main-menu{
    width: 90%;
    border:2px solid lightgrey;
    border-radius: 10px;
    margin: 0 50px;
    height: 30rem;
}

.search-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search{
    position: relative; 
}

#search-bar{
    width: 20rem;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    
}

.search-font{
    position: absolute;
    bottom:1rem;
    margin-left: 18rem;

}

.search-font .icon{
    color: black;
}